@media(max-width: 640px) {
    .mobile-drawer {
        transform: translateX(-100%);
        width: 0px;
    }
}

@media(max-width: 1250px) {
    .mobile-drawer {
        transform: translateX(-100%);
        position: absolute;
        width:24rem;
        z-index: 20;
        left: 0;
    }

    .toggler {
        transform: translateX(0%);
    }

    .responsive {
        display: block;
    }

    .slide-right {
        transform: translateX(22rem);
    }
}
